 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    color: blue;
    text-align: center;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.0;
    text-decoration: teal underline;
    text-transform: uppercase;
 }